@import url('https://fonts.googleapis.com/css2?family=Genos:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Genos', sans-serif;
    overflow: auto;
    overflow-x: hidden;
}

body {
    background: #EDF2F4;
}

a{
    text-decoration: none;
    color:white;
}

::-webkit-scrollbar{
    background: transparent;
    
    height: 30px;
    width:12px;
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(transparent,#8D99AE);
    border-radius: 6px;
    cursor: pointer;
}
::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(transparent,#ff6b6b);
}


.wrapper {
    width: 100%;
    height: 100%;
    background-color: #D80032;
}

.header {
    padding-top: 15px;
    padding-bottom: 15px;
}

.header-logo {
    margin-left: 30px;
    display: inline;
}

ul {
    display: inline;
}

.header-logo img {
    width: 50px;
    margin-right: 10px;
}

li {
    display: inline-block;
}

li h1 {
    color: white;
    font-size: 50px;
}

.header-list {
    position: relative;
    top: 5px;
    right: 100px;
    display: inline;
    float: right;
    font-size: 25px;
}

.header-list li {
    margin-left: 5px;
    color: white;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

.header-list li:hover {
    background-color: white;
    color: #ff3030;
    transition: 1s;
}

.main {
    /* overflow: visible; */
    height: 100%;
    background: #EDF2F4;
    display: block;
    padding-bottom: 155px;
}

.container {
    position: absolute;
    bottom: 230px;
    left: 100px;
    padding-bottom: 110px;
    display: inline-block;
    overflow:unset;
}

.container li {
    display: block;
}

.container li h1{
    color: #D80032;
}

.container li p{
    font-size: 20px;
}

.main .container .desc{
    position: relative;
    bottom: 150px;
}

.btn-scr {
    display: block;
    background-color: #D80032;
    color: white;
    margin-top: 50px;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
}

.btn-scr:hover {
    background-color: #EDF2F4;
    color: #D80032;
    margin-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 25px;
    padding-left: 25px;
    transition: 1s;

}


.logo-wrapper {
    position: relative;
    top: 50px;
    left: 720px;
    margin-left: 0px;
    display: inline-block;
}

.logo-wrapper img {
    width: 800px;
}

.footer {
    display: block;
    position: relative;
    cursor: pointer;
    left: 100px;
    bottom: 150px;
}

.footer .konten1,
.footer .konten2,
.footer .konten3 {
    background-color: #ff6b6b;
    color: white;
    text-align: center;
    margin-left: 20px;
    display: inline-block;
    border-radius: 15px 50px 30px;
    font-size: 12px;
    margin: 0px 40px;

}

.footer .konten1 {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer .konten2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer .konten3 {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.konten1:hover,
.konten2:hover,
.konten3:hover {
    background-color: #8D99AE;
    color: #000;
    transition: 1s;
}

.isi-konten {
    position: relative;
    padding-left: 250px;
    width: 100%;
    height: 800px;
    background-color: #D80032;
}

.isi-konten {
    overflow: scroll;
    display: inline-block;
}

.isi-konten h1 {
    overflow: visible;
}

.wrapper-konten {
    margin-left: 50px;
    margin-top: 60px;
    width: 550px;
    height: 490px;
    color: white;
    text-align: justify;
    line-height: 25px;
    display: inline-block;
}

.wrapper-konten p {
    text-indent: 0.5in;
}

.konten1-gambar {
    display: inline-block;
}

.konten1-gambar img {
    width: 470px;
}

.isi-konten2 {
    position: relative;
    padding-left: 250px;
    bottom: 5px;
    width: 100%;
    height: 800px;
    background-color: #EDF2F4;
}

.isi-konten2 {
    display: inline-block;
}

.wrapper-konten2 {
    margin-left: 50px;
    margin-top: 130px;
    width: 550px;
    height: 490px;
    color: #000;
    text-align: justify;
    line-height: 25px;
    display: inline-block;
}

.isi-konten2 h1 {
    overflow: visible;
}

.wrapper-konten2 p {
    text-indent: 0.5in;
}

.konten2-gambar {
    display: inline-block;
}

.konten2-gambar img {
    width: 470px;
}

.isi-konten3 {
    position: relative;
    padding-left: 250px;
    bottom: 10px;
    width: 100%;
    height: 800px;
    background-color: #D80032;
}

.wrapper-konten3 {
    margin-left: 50px;
    margin-top: 60px;
    width: 980px;
    height: 490px;
    color: white;
}





@keyframes animate
{
    0%,100%
    {
        filter: hue-rotate(0deg);
    }
    50%
    {
        filter: hue-rotate(360deg);
    }
}