@import url("https://fonts.googleapis.com/css2?family=Genos:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  line-height: 1;
  overflow: hidden;
}

.header .header-logo h1 {
  font-size: 50px;
  font-weight: bold;
  font-family: "Genos", sans-serif;
}

ol,
ul {
  list-style: none;
}

img {
  width: 1560px;
}

.background {
  position: fixed;
}

li {
  float: left;
}

.header-logo h1 {
  font-weight: 50;
  margin-top: 25px;
  margin-left: 30px;
  font-size: 40px;
  color: #edf2f4;
}

.header {
  position: relative;
}

.header-logo img {
  margin-top: 25px;
  margin-left: 40px;
  position: relative;
  width: 50px;
}

.logo-tangan {
  position: absolute;
  left: 950px;
  top: 90px;
  width: 700px;
}

.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  align-items: center;
  right: 200px;
  min-height: 100vh;
  transition: 0.5s;
}

.wrapper .container {
  position: relative;
  top: 20px;
  width: 1000px;
  height: 700px;
  margin: 20px;
}

.container .whitebg {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 40px;
  width: 100%;
  height: 420px;
}

.container .whitebg .box {
  position: relative;
  /* left: 50%; */
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container .whitebg .box.signup {
  color: #edf2f4;
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: 10px;
}

.container .whitebg .box.signin {
  color: #2b2d42;
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: 10px;
}

.container .whitebg .box .signinBtn {
  cursor: pointer;
  padding: 10px 20px;
  background: #edf2f4;
  color: #2b2d42;
  font-size: 16px;
  font-weight: 500;
  border: none;
  margin-top: 10px;
}

.container .whitebg .box .signupBtn {
  cursor: pointer;
  padding: 10px 20px;
  background: #ef233c;
  color: #edf2f4;
  font-size: 16px;
  font-weight: 500;
  border: none;
  margin-top: 10px;
}

.wrapper .formWx {
  position: absolute;
  top: 0;
  left: 25%;
  width: 50%;
  height: 100%;
  background: #edf2f4;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #edf2f4;
  border-radius: 20px;
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.15);
  transition: 0.5s ease-in-out;
  overflow: hidden;
}

.formWx.active {
  background: #edf2f4;
  left: 50%;
}

.wrapper .formWx .form {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 50px;
  transition: 0.5s;
}

.wrapper .formWx.active .signinForm {
  left: -100%;
  transition-delay: 0s;
}

.wrapper .formWx .signinForm {
  transition-delay: 0.25s;
}

.wrapper .formWx .signupForm {
  left: 100%;
  transition-delay: 0s;
}
.wrapper .formWx.active .signupForm {
  left: 0;
  transition-delay: 0.25s;
}

.wrapper .formWx .form form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper .formWx .form.signinForm form h3 {
  font-size: 1.3em;
  color: #2b2d42;
  margin-bottom: 20px;
  font-weight: 500;
  line-height: 25px;
}

.wrapper .formWx .form form input {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  outline: none;
  font-size: 16px;
  border: 1px solid #2b2d42;
}

.wrapper .formWx .form.signinForm form .submit {
  background: #ef233c;
  border: none;
  color: #edf2f4;
  max-width: 100px;
  cursor: pointer;
}

.wrapper .container .formWx input[type="radio"] {
  position: relative;
  top: 15px;
  right: 190px;
}

.wrapper .container .formWx label {
  position: relative;
  left: 30px;
  bottom: 20px;
}
